<h2 style="color:{{color}};">{{title}}</h2>
<p>Dear {{name}},</p>
<div class="email-content">
  <p>We would like to inform you there has been a delay in delivering an order. Here are the details:</p>
  <ul>
    <li>User Name: {{userName}}</li>
    <li>User Phone: {{userTel}}</li>
    <li>User Line ID: {{userLineId}}</li>
    <br>
    <li>Staff Name: {{staffName}}</li>
    <li>Staff Email: {{staffEmail}}</li>
    <li>Staff Line ID: {{staffLineId}}</li>
    <li>Staff Phone: {{staffTel}}</li>
    <br>
    <li>Order ID: {{orderId}}</li>
    <li>Item: {{itemName}}</li>
    <li>Receiving Appointment: {{receiveDate}} {{receiveTime}}</li>
    <li>Returning Appointment: {{returnDate}} {{returnTime}}</li>
  </ul>
  <p>Please contact either party to resolve this issue and determine the cause of the delay.</p>
</div>
<p>Thank you for your attention to this matter.</p>
