<h2 style="color:{{color}};">{{title}}</h2>
<p>Dear {{name}},</p>
<div class="email-content">
  <p>You have successfully received the order. <strong>If you have not received the item, please contact our courier or admin immediately.</strong></p>
  <p>Item details:</p>
  <ul>
    <li>Item: {{itemName}}</li>
    <li>Receiving Appointment: {{receiveDate}} {{receiveTime}}</li>
    <li>Returning Appointment: {{returnDate}} {{returnTime}}</li>
    <li>Staff Name: {{staffName}}</li>
    <li>Staff Email: {{staffEmail}}</li>
    <li>Staff Line ID: {{staffLineId}}</li>
    <li>Staff Phone: {{staffTel}}</li>
  </ul>
  <p>Please keep the item in good condition and return it before the agreed return time. The courier will contact you again soon.</p>
</div>
<p>Thank you for choosing our service!</p>
