<h2 style="color:{{color}};">{{title}}</h2>
<p>Dear {{name}},</p>
<div class="email-content">
  <p>This is to inform you that your delivery is late. Here are the details:</p>
  <ul>
    <li>User Name: {{userName}}</li>
    <li>User Phone Number: {{userTel}}</li>
    <li>User Line ID: {{userLineId}}</li>
    <li>Item: {{itemName}}</li>
    <li>Receiving Appointment: {{receiveDate}} {{receiveTime}}</li>
    <li>Returning Appointment: {{returnDate}} {{returnTime}}</li>
  </ul>
  <p>Please contact the user or admin to reschedule. If you already delivered but can’t find the user, notify admin of the issue.</p>
</div>
<p>Thank you for your cooperation.</p>
