<h2 style="color:{{color}};">{{title}}</h2>
<p>Dear {{name}},</p>
<div class="email-content">
  <p>An IPH Event has been created by an admin. Here are the details:</p>
  <ul>
    <li>Event Name: {{eventName}}</li>
    <li>Start Event Date: {{startDate}}</li>
    <li>End Event Date: {{endDate}}</li>
  </ul>
  <p>If there are any issues or discrepancies, please contact the admin who created this event.</p>
</div>
<p>Thank you for staying updated!</p>
