<h2 style="color:{{color}};">{{title}}</h2>
<p>Dear {{userName}},</p>
<div class="email-content">
  <p>We regret to inform you that order {{orderId}} which your placed order have been cancel due to {{reason}}.</p>
  <p>You can see detail on our website at history page.</p>
  <p>The reservation points have been refunded to your account. If you believe this is an error, please contact our admin.</p>
</div>
<p>We apologize for any inconvenience caused.</p>
