<h2 style="color:{{color}};">{{title}}</h2>
<p>Dear {{name}},</p>
<div class="email-content">
  <p>You have successfully created a partner account. Here are the details:</p>
  <ul>
    <li>Partner Name: {{partnerName}}</li>
    <li>Partner Email: {{partnerEmail}}</li>
    <li>Representative: {{representativePerson}}</li>
    <li>Representative Tel: {{representativeTel}}</li>
    <li>Representative Line ID: {{representativeLineId}}</li>
    <li>Point: {{point}}</li>
  </ul>
  <p>If there are any issues, please contact admin.</p>
</div>
<p>Thank you for your partnership!</p>
