<h2 style="color:{{color}};">{{title}}</h2>
<p>Dear {{name}},</p>
<div class="email-content">
  <p>You have successfully requested to create an account. Please wait for an admin to accept your request:</p>
  <ul>
    <li>Name: {{name}}</li>
    <li>Phone Number: {{tel}}</li>
    <li>Line ID: {{lineId}}</li>
    <li>Department & Year: {{departmentYear}}</li>
    <li>Address: {{address}}</li>
  </ul>
  <p>If the approval process takes longer than expected, please contact our Admin for assistance.</p>
</div>
<p>Thank you for joining our club!</p>
