<h2 style="color:{{color}};">{{title}}</h2>
<p>Dear {{name}},</p>
<div class="email-content">
  <p>Your order has been successfully placed, but is still pending acceptance from a courier. Here are the details:</p>
  <ul>
    <li>Item: {{itemName}}</li>
    <li>Receiving Appointment: {{receiveDate}} {{receiveTime}}</li>
    <li>Returning Appointment: {{returnDate}} {{returnTime}}</li>
  </ul>
  <p>Once a courier accepts your order, we will send you an email with the order details and tracking information.</p> 
  <p>If no courier is available on the selected day or your order is not accepted within 48 hours, your order will be automatically canceled. We sincerely apologize for any inconvenience.</p>
</div>
<p>Thank you for choosing our service!</p>
