<h2 style="color:{{color}};">{{title}}</h2>
<p>Dear {{name}},</p>
<div class="email-content">
  <p>We regret to inform you that your placed order could not be completed due to {{reason}}. Here are the rejected order details:</p>
  <ul>
    <li>Item: {{itemName}}</li>
    <li>Receiving Appointment: {{receiveDate}} {{receiveTime}}</li>
    <li>Returning Appointment: {{returnDate}} {{returnTime}}</li>
  </ul>
  <p>The reservation points have been refunded to your account. If you believe this is an error, please contact our admin.</p>
</div>
<p>We apologize for any inconvenience caused.</p>
