<h2 style="color:{{color}};">{{title}}</h2>
<p>Dear {{name}},</p>
<div class="email-content">
  <p>You have successfully accepted an order as a courier. Here are the details:</p>
  <ul>
    <li>User Name: {{userName}}</li>
    <li>User Phone Number: {{userTel}}</li>
    <li>User Line ID: {{userLineId}}</li>
    <li>Item: {{itemName}}</li>
    <li>Receiving Appointment: {{receiveDate}} {{receiveTime}}</li>
    <li>Returning Appointment: {{returnDate}} {{returnTime}}</li>
  </ul>
  <p>Please contact your user to agree on the appointment place and show up on time. If any issue arises, please contact Admin.</p>
</div>
<p>Thank you for your dedication!</p>
