<h2 style="color:{{color}};">{{title}}</h2>
<p>Dear {{name}},</p>
<div class="email-content">
  <p>Your item has been successfully returned. <strong>If you did not return the item, please contact the courier or admin immediately.</strong></p>
  <ul>
    <li>Item: {{itemName}}</li>
    <li>Receiving Appointment: {{receiveDate}} {{receiveTime}}</li>
    <li>Returning Appointment: {{returnDate}} {{returnTime}}</li>
    <li>Staff Name: {{staffName}}</li>
    <li>Staff Email: {{staffEmail}}</li>
    <li>Staff Line ID: {{staffLineId}}</li>
    <li>Staff Phone: {{staffTel}}</li>
  </ul>
  <p>We hope you had a good experience. Please consider leaving us a review.</p>
</div>
<p>Thank you for choosing our service!</p>
