<h2 style="color:{{color}};">{{title}}</h2>
<p>Dear {{name}},</p>
<div class="email-content">
  <p>We confirm that you have successfully retrieved the item from your user. Here are the details:</p>
  <ul>
    <li>User Name: {{userName}}</li>
    <li>User Phone: {{userTel}}</li>
    <li>User Line ID: {{userLineId}}</li>
    <li>Item: {{itemName}}</li>
    <li>Receiving Appointment: {{receiveDate}} {{receiveTime}}</li>
    <li>Returning Appointment: {{returnDate}} {{returnTime}}</li>
  </ul>
  <p>Please check the item’s condition and consider leaving a review on our website. If something is wrong with the process, contact admin.</p>
</div>
<p>Thank you for your dedication!</p>