<h2 style="color:{{color}};">{{title}}</h2>
<p>Dear {{name}},</p>
<div class="email-content">
  <p>We would like to inform you that there has been a delay in retrieving the item. Here are the order details and contact info:</p>
  <ul>
    <li>User Name: {{userName}}</li>
    <li>User Phone: {{userTel}}</li>
    <li>User Line ID: {{userLineId}}</li>
    <br>
    <li>Staff Name: {{staffName}}</li>
    <li>Staff Email: {{staffEmail}}</li>
    <li>Staff Line ID: {{staffLineId}}</li>
    <li>Staff Phone: {{staffTel}}</li>
    <br>
    <li>Order ID: {{orderId}}</li>
    <li>Item: {{itemName}}</li>
    <li>Receiving Appointment: {{receiveDate}} {{receiveTime}}</li>
    <li>Returning Appointment: {{returnDate}} {{returnTime}}</li>
  </ul>
  <p>Please contact the user or staff to resolve any issues and determine the cause of the delay.</p>
</div>
<p>Thank you for your prompt attention.</p>
