{{!-- lib/email/templates/role_change.hbs --}}
<h2 style="color:{{color}};">{{title}}</h2>
<p>Dear {{name}},</p>
<div class="email-content">
  <p>We wanted to let you know that your role has been updated.</p>
  <p>Your role has been changed from <strong>{{old_role}}</strong>
     to <strong>{{new_role}}</strong> by Admin.</p>
  <p>If you have any questions, please feel free to reach out to our support team. We are here to assist you!</p>
</div>
<p>Thank you for using our service!</p>
