<h2 style="color:{{color}};">{{title}}</h2>
<p>Dear {{staffName}},</p>
<div class="email-content">
  <p>We regret to inform you that slot {{slotId}} which your responsible slot have been cancel due to {{reason}}.</p>
  <p>You can see detail on the website at history page.</p>
  <p>If you believe this is an error, please contact an admin.</p>
</div>
<p>We apologize for any inconvenience caused.</p>
